.navbar {
    background: var(--clr-text);
    position: sticky;
    top: 0;
    z-index: 999;
    transition: var(--transition);
    width: 100%;
    height: 10vh;
    overflow-x: hidden;
    will-change: transform, opacity;
    display: flex;
    align-items: center;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}
.visible {
  transform: translateY(0);
}
.hidden {
  transform: translateY(-100%);
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-bg);
  font-family: var(--font-gatwick-jet);
  font-weight: 600;
  width: 75px;
  height: 100%;
  font-size: 22px;
  letter-spacing: 10px;
  flex: 1;
}

.sun {
  position: absolute;
  width: 20px;
  height: 19px;
  background: radial-gradient(circle at center, #ff9d00 0%, #ff6a00 100%);
  border-radius: 50%;
  border: 2px solid var(--clr-bg);
  pointer-events: none;
}

.right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}
@media(width <= 500px) {
  .right {
    gap: 7px;
    flex: 2;
  }
}