.checkoutSection {
    border: 1px solid red;
    width: 85%;
    margin: 0 auto;
}

.checkoutSection h1 {
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin: 5vh 0;
}

.summarySection {
    border: 1px solid blue;
}
.summarySection h2 {
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    margin-bottom: 5vh;
}

.itemRow {
    border-top: 1px solid;
    /* border-bottom: 1px solid; */
}

