.mainSection {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    min-height: 100dvh;
}
.description,
.disclaimer {
    font-size: var(--fs-md);
    letter-spacing: var(--ls);
    max-width: 70ch;
}
.disclaimer {
    font-weight: 600;
    margin: var(--space-lg) 0;
}
.smile {
    text-align: right;
    margin-bottom: var(--space-lg);
}