.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: var(--radius-big);
    transition: var(--transition);
}
.wrapper:hover {
  background-color: var(--clr-hover);
}



.icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
    color: var(--clr-bg);
    transition: transform 120ms ease;
}
.badge {
    position: absolute;
    z-index: 222;
    top: 0px;
    right: -5px;
    background: #d10221;
    color: var(--clr-bg);
    font-size: 0.8rem;
    border-radius: var(--radius-big);
    width: 22px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(172, 171, 171, 0.336);
    font-weight: 600;
}
.pulse {
    animation: badgePulse 0.3s ease-out;
}
@keyframes badgePulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}