.pageContainer {
    width: 100%;
}
.detailsContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5em;
}
.detailsContainer h1 {
    text-transform: uppercase;
    margin-top: 1em;
}
.price {
    margin-top: 0.2em;
    font-family: var(--acma);
    letter-spacing: var(--ls-big);
}
.detailsContainer figure {
    border: 2px outset var(--clr-hoverInLight);
    display: flex;
    justify-content: center;
    padding: 2em 0;
    margin-top: 2em;
    overflow: hidden;
    box-shadow: var(--shadow-combined);
    border-radius: var(--radius-small);
}

.productImage {
    width: 150px;
    height: 200px;
    transition: var(--transition);
}
.productImage:hover {
  transform: scale(1.3);  
}

.sizeSelector {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    width: 100%;
    gap: 5px;
}
.sizeError {
    width: fit-content;
    border-color: #c62828 !important;
    box-shadow: 0 0 0 3px rgba(198, 40, 40, 0.4) !important;
}
.sizeSelector button {
    width: 60px;
    max-width: 80px;
}
.sizeSelectorSelected {
    background: var(--clr-bg-dark);
    color: var(--clr-primary-dark);
}

.buttonAddContainer {
    margin: 1.5em 0 20vh 0;
    display: flex;
    justify-content: center;
}

.summariesContainer {
    margin-bottom: 20vh;
}
.instructions {
    border: 1px solid var(--border);
    border-top-left-radius: var(--radius-small);
    border-top-right-radius: var(--radius-small);
    padding: var(--pd-td) var(--pd-lr);
    margin: 0.7em 0 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--clr-text-muted);
    transition: var(--transition);
    cursor: pointer;
    font-size: clamp(1.1rem, 3vw, 1.2rem);
}
.instructions:hover {
    color: var(--clr-text);
    border-color: var(--clr-text);
}
details[open] > .instructions {
  color: var(--clr-text);
  border-color: var(--clr-text);
}
.instructions span {
    height: 24px;
}
.careList {
    list-style: none;
}
.careList li {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 0.5em 0;
}
.productDescription,
.careList {
    border-left: 1px solid var(--border-muted);
    border-right: 1px solid var(--border-muted);
    border-bottom: 1px solid var(--border-muted);
    border-bottom-left-radius: var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
    padding: var(--pd-td) var(--pd-lr);
    text-align: justify;
    line-height: 1.7;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.iconWrapper {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}
@media (width >= 850px) {
    .instructions,
    .productDescription,
    .careList {
        padding: 0.5em 10%;
    }
    .productDescription {
        padding-right: 40%;
    }
}