.pageContainer {
    width: 100%;
}
.detailsContainer {
    width: 90%;
    margin: 2.5rem auto 0;
}
@media (width >= 850px) {
    .detailsContainer {
        width: 75%;
    }
}
.price {
    letter-spacing: var(--ls);
    font-size: var(--fs-md);
}
.detailsContainer figure {
    border: 1.5px outset var(--clr-hover-light);
    display: flex;
    justify-content: center;
    padding: var(--space-lg) 0;
    margin-top: var(--space-lg);
    overflow: hidden;
    box-shadow: var(--shadow-combined);
    border-radius: var(--radius-small);
}

.productImage {
    width: 150px;
    height: 200px;
    transition: var(--transition);
}

.sizeSelector {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
    gap: 5px;
}
.sizeError {
    width: fit-content;
    border-color: #c62828 !important;
    box-shadow: 0 0 0 3px rgba(198, 40, 40, 0.4) !important;
}
.sizeSelector button {
    width: clamp(60px, 70px, 80px);
}
.sizeSelectorSelected {
    background: var(--clr-bg-dark);
    color: var(--clr-primary-dark);
}

.buttonAddContainer {
    margin: 1.5rem 0 var(--space-xl) 0;
    display: flex;
    justify-content: center;
}

.summariesContainer {
    margin-bottom: var(--space-xxl);
}
.instructions {
    border: 1px solid var(--border);
    border-top-left-radius: var(--radius-small);
    border-top-right-radius: var(--radius-small);
    padding: var(--pd-td) var(--pd-lr);
    margin: var(--space-sm) 0 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--clr-text-muted);
    transition: var(--transition);
    cursor: pointer;
    font-size: var(--fs-md);
}
.instructions:hover {
    color: var(--clr-text);
    border-color: var(--clr-text);
}
details[open] > .instructions {
  color: var(--clr-text);
  border-color: var(--clr-text);
}

.careList {
    list-style: none;
}
.careList li {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin: var(--space-sm) 0;
}
.productDescription,
.careList {
    border-left: 1px solid var(--border-muted);
    border-right: 1px solid var(--border-muted);
    border-bottom: 1px solid var(--border-muted);
    border-bottom-left-radius: var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
    padding: var(--space-lg);
    font-size: var(--fs-md);
}


.iconWrapper {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

.instructions,
    .productDescription,
    .careList {
        padding: 0.5rem 5%;
    }
@media (width >= 850px) {
    .instructions,
    .productDescription,
    .careList {
        padding: 1rem 10%;
    }
}