.triggerButton {
  all: unset;
  color: var(--clr-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  width: 35px;
  height: 35px;
  border: 2px ridge var(--clr-hover);
  border-radius: 50%;
  background: rgba(105, 105, 105, 0.075);
}
.triggerButton:hover {
  background-color: var(--clr-hover);
}
.triggerButton:active {
  transform: translateY(2px);
}
.dropdownMenu {
  background: var(--clr-bg);
  color: var(--clr-text-muted);
  border-radius: var(--radius);
  box-shadow: var(--shadow-combined);
  min-width: fit-content;
}
.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  transition: var(--transition);
  padding: 5px 5px;
}
.menuItem:hover {
  background-color: var(--clr-bg-light);
}