/* ------------------------------------------------------------ */
.warningBanner {
  background: var( --clr-bg-warning);
  color: var(--clr-warning);
  padding: var(--space-lg);
  margin: 0 auto 5vh auto;
  border-radius: var(--radius-large);
  line-height: var(--lh-list);
  max-width: 700px;
}
.warningBanner p {
    font-size: var(--fs-md);
}
.removeAllContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.warningBanner button {
    margin: var(--space-md);
    box-shadow: var(--shadow-button);
}
.warningBanner ul {
    font-weight: 800;
    letter-spacing: var(--ls-big);
    margin-top: var(--space-sm);
    padding-left: var(--space-sm);
    color: var(--clr-accent);
    font-size: var(--fs-md);
}
.unavailableItem {
  position: relative;
}
.unavailableOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: var(--fs-lg);
  letter-spacing: var(--ls);
  color: var(--clr-accent);
}
/* -------------------------------------------------------------- */
.cartSection {
    width: 90%;
    margin: 0 auto;
    transition: var(--transition);
    margin: 2.5rem auto 0;
}
@media (width >= 850px) {
    .cartSection {
        width: 75%;
    }
}

.itemsContainer {
    margin-bottom: var(--space-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartItem {
    border: 1px solid var(--border);
    display: flex;
    min-height: 140px;
    height: 170px;
    width: 100%;
    max-width: 700px;
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-light);
    margin-bottom: var(--space-md);
}
.cartItem img {
    flex: 1;
    min-width: 25%;
    max-width: 35%;
    padding: var(--pd-button);
    min-height: 100%;
    position: relative;
    object-fit: contain;
    border-right: 1px solid var(--border-muted);
}
.rightContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
}
.itemInformation {
    padding: var(--space-xs) ;
    flex: 2;
}
.title {
    font-weight: 700;
    font-size: var(--fs-md);
}
.price,
.quantity,
.size {
    font-size: var(--fs-sm)
}
.size span,
.price span,
.quantity span {
    color: var(--clr-text-muted);
    font-weight: 300;
    letter-spacing: var(--ls);
}
.buttonsContainer {
    flex: 1;
    display: flex;
}
.cartItem button,
.cartItem button:hover,
.cartItem button:active {
    box-shadow: none
}
.cartItem button:nth-child(1),
.cartItem button:nth-child(2) {
    flex: 1;
    border-right: 1px solid var(--clr-bg);
}
.cartItem button:nth-child(3) {
    flex: 2;
}

.clearAllContainer {
    text-align: center;
    margin-bottom: var(--space-xxl);
}
/* ------------------SUMMARY---------------------------- */
.summarySection {
    margin-bottom: var(--space-xxl);   
}
.summarySection h2 {
    font-size: var(--fs-lg);
    margin-bottom: var(--space-sm);
    margin-top: var(--space-lg);
}

.summaryInfoContainer {
    display: inline-block;
    text-align: left;
    font-size: var(--fs-md);
}
.totalItems {
    letter-spacing: var(--ls);
}
.subtotalPrice {
    letter-spacing: var(--ls);
    margin-bottom: var(--space-lg);
}
.totalItems span,
.subtotalPrice span {
    font-weight: 600;
}
.summaryButtonsContainer {
     display: flex;
     flex-direction: column;
}
.summaryButtonsContainer a {
    min-width: 186px;
    width: 55%;
    margin: 0.3em auto;
}
/* ------------------------------------------- */
.emptyCartAction {
    margin-bottom: var(--space-xxl);
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 50vh;
    justify-content: space-between;
}
.emptyCartImg {
    background-image: url("/images/empty-cart-upscaled.webp");
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.emptyCartAction a {
    margin: var(--space-md) auto 0 auto;
    min-width: 186px;
    width: 55%;
}

@media(width >= 850px) {
    .emptyCartAction a {
        width: 40%;
    }
    .summaryButtonsContainer a {
        width: 40%;
    }
}