/* ------------------------------------------------------------ */
.warningBanner {
  background: var( --clr-bg-warning);
  color: var(--clr-warning);
  padding: 2em;
  margin: 0 auto 5vh auto;
  border-radius: var(--radius-big);
  line-height: 1.7;
  max-width: 800px;
}
.warningBanner p {
    font-size: clamp(1rem, 3vw, 1.2rem);
}
.removeAllContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.warningBanner button {
    margin: 5vh 0;
    box-shadow: var(--shadow-button);
}
.warningBanner ul {
    font-weight: 600;
    letter-spacing: var(--ls-big);
    margin-top: 3vh;
    padding-left: 1em;
    color: var(--clr-accent);
    font-size: clamp(1.1rem, 3vw, 1.4rem);
}
.unavailableItem {
  position: relative;
}
.unavailableOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: clamp(1.5rem, 2vw, 1.7rem);
  letter-spacing: var(--ls);
  color: var(--clr-accent);
}
/* -------------------------------------------------------------- */
.cartSection {
    width: 90%;
    margin: 0 auto;
    transition: var(--transition);
}
.cartSection h1 {
    text-align: start;
    margin: 5vh 0 10vh 0;
}

.itemsContainer {
    margin-bottom: 7vh;
}
.cartItem {
    border: 1px solid var(--border);
    display: flex;
    min-height: 140px;
    height: 160px;
    width: 100%;
    max-width: 800px;
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-light);
    margin: 0 auto 3vh auto;
}
.cartItem img {
    flex: 1;
    min-width: 25%;
    max-width: 35%;
    padding: var(--pd-td) var(--pd-lr);
    min-height: 100%;
    position: relative;
    object-fit: contain;
    border-right: 1px solid var(--border-muted);
}
.rightContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
}
.itemInformation {
    padding: 0 0.3em;
    line-height: 1.7;
    flex: 2;
}
.title {
    font-weight: 600;
    font-size: clamp(0.95rem, 3vw, 1.1rem);
    letter-spacing: var(--ls);
}
.price,
.quantity,
.size {
    font-size: clamp(0.9rem, 2vw, 1rem);
}
.size span,
.price span,
.quantity span {
    color: var(--clr-text-muted);
    font-weight: 100;
    letter-spacing: var(--ls-big);
}
.buttonsContainer {
    flex: 1;
    display: flex;
}
.cartItem button,
.cartItem button:hover,
.cartItem button:active {
    box-shadow: none
}
.cartItem button:nth-child(1),
.cartItem button:nth-child(2) {
    flex: 1;
    border-right: 1px solid var(--clr-bg);
}
.cartItem button:nth-child(3) {
    flex: 2;
}

.clearAllContainer {
    text-align: center;
    margin-bottom: 10vh;
}
/* ------------------SUMMARY---------------------------- */
.summarySection {
    margin-bottom: 15vh;
    line-height: 1.7;
    text-align: center;
}
.summarySection h2 {
    margin: 10vh 0 7vh 0;
}
.summaryInfoContainer {
    display: inline-block;
    text-align: left;
}
.totalItems {
    letter-spacing: var(--ls-big);
}
.subtotalPrice {
    letter-spacing: var(--ls-big);
    margin-bottom: 7vh;
}
.totalItems span,
.subtotalPrice span {
    font-weight: 600;
}
.summaryButtonsContainer {
     display: flex;
     flex-direction: column;
}
.summaryButtonsContainer a {
    min-width: 186px;
    width: 55%;
    margin: 0.3em auto;
}
/* ------------------------------------------- */
.emptyCartAction {
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 60vh;
    justify-content: space-between;
}
.emptyCartImg {
    background-image: url("/images/empty-cart-upscaled.webp");
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.emptyCartAction a {
    margin: 1vh auto 0 auto;
    min-width: 186px;
    width: 55%;
}

@media(width >= 850px) {
    .emptyCartAction a {
        width: 40%;
    }
    .summaryButtonsContainer a {
        width: 40%;
    }
}