*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

:root {
  --clr-bg: hsl(300 50% 100%);
  --clr-bg-dark: hsl(0 0% 90%);
  --clr-bg-light: hsl(0, 0%, 98%);
  --clr-hover: #6161615b;
  --clr-hover-light:rgba(179, 179, 179, 0.452);

  --clr-text: #0a0a0a;
  --clr-text-muted: #474747;
  
  --border: hsl(300 0% 50%);
  --border-muted: hsl(340 0% 62%);

  --clr-primary-light: hsl(28, 100%, 45%);
  --clr-primary: #e16900;
  --clr-primary-dark: hsl(28, 100%, 32%);

  --clr-secondary: #ffbf04;
  --clr-accent: #83190b;

  --clr-bg-warning: hsl(51, 100%, 81%);
  --clr-warning: hsl(48, 22%, 24%);
  --clr-success: hsl(147 19% 36%);
  --clr-error: hsl(0, 39%, 36%);

  --font-acma: 'Acma', sans-serif; 
  --font-gatwick-jet: 'PPGatwick-Jet', serif;

  /* font-sizes  */
  --fs-xs: clamp(0.75rem, 1vw, 0.85rem);
  --fs-sm: clamp(0.85rem, 1.2vw, 1rem);
  --fs-button: clamp(0.95rem, 1.3vw, 1.1rem);
  --fs-md: clamp(1rem, 2vw, 1.3rem);
  --fs-lg: clamp(1.3rem, 3vw, 2rem);
  --fs-xl: clamp(2.4rem, 4.5vw, 5.5rem);

  /* padding */
  --pd-button: 0.5rem 0.9rem;
  --pd-card: 0.7rem;
  
  /* spacing  */
  --space-xxs: 0.25rem; 
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;

  /* Border radius */
  --radius-small: 5px;
  --radius-large: 10px;
  --radius-max: 999px;
  --radius-full: 50%;

  /*letter spacing */
  --ls: 0.3px;
  --ls-big: 1px;

  /* line height  */
  --lh-text: 1.5;
  --lh-list: 1.8;

  /*shadows */
  --shadow-combined: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  --shadow-dark: 0px 4px 4px #00000030;
  --shadow-light: 7px 4px 7px #00000015;
  --shadow-button: 0px 3px 10px #00000041, 0px 7px 5px #00000018; 

  /* transitions  */
  --transition: 0.3s ease-in-out;


}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--clr-text) var(--clr-bg);
  overflow-x: hidden;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--font-acma);
  color: var(--clr-text);
  font-family: var(--font-inter), system-ui, sans-serif;
}

p:not(.stockP) {
  line-height: var(--lh-text);
}


h1, h2 {
  font-family: var(--font-gatwick-jet);
}
h1:not(.heroTitle, #product-title) {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
  font-size: var(--fs-lg);
}

h2:not(#products-heading, .youMayAlsoLike, #payment-heading, #cart-summary-heading) {
  font-size: var(--fs-lg);
  font-weight: 600;
  margin: var(--space-xl) 0;
}


button,
a.buttonPrimary,
a.buttonSecondary,
a.buttonTertiary {
  font-weight: 600;
  color: var(--clr-bg);
  padding: var(--pd-button);
  border-radius: var(--radius-small);
  border: none;
  font-size: var(--fs-button);
  cursor: pointer;
  transition: var(--transition);
  text-align: center;
}
/* Primary (default) */
.buttonPrimary,
a.buttonPrimary {
  background: var(--clr-text);
}
.buttonPrimary:hover {
  background: var(--clr-primary-light);
  box-shadow: var(--shadow-button);
}
.buttonPrimary:active {
  background: var(--clr-primary-dark);
}
/* black Secondary (secondary color) */
.buttonSecondary,
a.buttonSecondary {
  background: transparent;
  color: var(--clr-text);             
  border: 1px solid var(--clr-text);
}
.buttonSecondary:hover {
  border-color: var(--clr-primary-light);
  color: var(--clr-primary);
  background: var(--clr-bg-light);
  box-shadow: var(--shadow-button);
}
.buttonSecondary:active {
  background: var(--clr-bg-dark);
  color: var(--clr-primary);
}
/* Tertiary */
.buttonTertiary {
  background: transparent;
  color: var(--clr-text-muted);           
  border: none;
  padding-inline: 1.5rem;                   
}
.buttonTertiary:hover {
  color: var(--clr-text);
  background: var(--clr-bg-light);
  box-shadow: var(--shadow-button);
  text-decoration: underline;
  transform: translateY(-2px);
}
.buttonTertiary:active {
  background: transparent;
  transform: translateY(0px);
}
/* ButtonLink */
.buttonLink {
  background: transparent;
  color: var(--clr-text-muted);           
  border: none; 
  transition: var(--transition);
  padding: var(--space-xxs) 0;
}
.buttonLink:hover {
  color: var(--clr-primary);
  background: var(--clr-bg-light);
}
.buttonLink:active {
  color: var(--clr-primary-dark);
}

a {
  text-decoration: none;
}

/* skeletons */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
