*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


h2 {
  font-family: var(--font-lexend);
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

a {
  text-decoration: none;
}