*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

:root {
  /* Colors */
  --clr-primary: #e9c46a;
  --clr-primary-light: #ffe9a8;
  --clr-primary-dark: #d1ab4a;

  --clr-secondary: #333333;
  --clr-bg: #ffffff;

  --clr-accent: #f57d37;
  --clr-accent-light: #ffc7a7;
  --clr-accent-dark: #d96a25;  

  --clr-text: #1a1a1a;

  /* Font families */
  --font-acma: 'Acma', sans-serif;
  --font-gatwick-jet: 'PPGatwick-Jet', serif;

  /* Font sizes */
  --fs-xs: 0.8rem;
  --fs-sm: 0.9rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2rem;

  /* Button padding */
  --pd-top-down: 0.5em;
  --pd-left-right: 0.7em;

  /* Border radius */
  --radius: 10px;

  /* Shadow */
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--font-acma);
  color: var(--clr-text);
}


h1, h2, h3 {
  font-family: var(--font-gatwick-jet);
}

h2 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-weight: 600;
}

h3 {
  font-weight: 200;
  /* font-size: clamp(0.4rem, 2.5vw, 1.3rem); */
}

button {
  font-family: var(--font-acma);
  font-weight: 600;
  letter-spacing: 0.05em;
  background: var(--clr-primary);
  color: var(--clr-bg);
  padding: var(--pd-top-down) var(--pd-left-right);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: none;
  font-size: var(--fs-md);
  cursor: pointer;
  transition: all 0.3s ease;
}


/* 🟡 Primary (default) */
.buttonPrimary {
  background: var(--clr-primary);
  color: var(--clr-bg);
}
.buttonPrimary:hover {
  background: var(--clr-primary-dark);
  transform: translateY(-2px);
}

/* black Secondary (secondary color) */
.buttonSecondary {
  background: var(--clr-secondary);
  color: var(--clr-bg);
}
/* .buttonSecondary:hover {
  background: var(--clr-accent-dark);
  transform: translateY(-2px);
} */

/* ⚪️ Tertiary (subtle outline style) */
.buttonTertiary {
  background: transparent;
  color: var(--clr-text);
  border: 3px solid var(--clr-primary);
  box-shadow: none;
}
.buttonTertiary:hover {
  background: var(--clr-secondary);
  color: var(--clr-bg);
  border-color: var(--clr-text);
  transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}


