*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

:root {
  --clr-bg: hsl(300 50% 100%);
  --clr-bg-dark: hsl(0 0% 90%);
  --clr-bg-light: hsl(0, 0%, 98%);
  --clr-hover: #f2f2f21c;
  --clr-hoverInLight: #f2f2f271;

  --clr-text: #0a0a0a;
  --clr-text-muted: #474747;
  
  --border: hsl(300 0% 50%);
  --border-muted: hsl(340 0% 62%);

  --clr-primary-light: hsl(28, 100%, 60%);
  --clr-primary: hsl(28, 100%, 50%);
  --clr-primary-dark: hsl(28, 100%, 40%);

  --clr-secondary: #ffbf04;
  --clr-accent: #83190b;

  --clr-bg-warning: hsl(51, 100%, 81%);
  --clr-warning: hsl(48, 22%, 24%);
  --clr-success: hsl(147 19% 36%);
  --clr-error: hsl(0, 39%, 36%);

  --font-acma: 'Acma', sans-serif; 
  --font-gatwick-jet: 'PPGatwick-Jet', serif;

  /* Button padding */
  --pd-td: 0.5em;
  --pd-lr: 0.7em;

  /* Border radius */
  --radius-small: 3px;
  --radius: 5px;
  --radius-big: 15px;

  /*letter spacing */
  --ls: 0.5px;
  --ls-big: 1px;

  /*shadows */
  --shadow-combined: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  --shadow-dark: 0px 4px 4px #00000030;
  --shadow-light: 7px 4px 7px #00000015;
  --shadow-button: 0px 3px 10px #00000041, 0px 7px 5px #00000018; 

  --transition: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--clr-text) var(--clr-bg);
}

body {
  background-color: var(--clr-bg);
  font-family: var(--font-acma);
  color: var(--clr-text);
  font-family: 'Inter', system-ui, sans-serif;

}

h1, h2, h3 {
  font-family: var(--font-gatwick-jet);
}
h1:not(.heroTitle),
h2 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-weight: 600;
}

button,
a.buttonPrimary,
a.buttonSecondary,
a.buttonTertiary {
  font-family: var(--font-acma);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--clr-bg);
  padding: var(--pd-td) var(--pd-lr);
  border-radius: var(--radius-small);
  border: none;
  font-size: var(--fs-md);
  cursor: pointer;
  transition: var(--transition);
  text-align: center;
}
/* Primary (default) */
.buttonPrimary,
a.buttonPrimary {
  background: var(--clr-text);
}
.buttonPrimary:hover {
  background: var(--clr-primary);
  box-shadow: var(--shadow-button);
}
.buttonPrimary:active {
  background: var(--clr-primary-dark);
}
/* black Secondary (secondary color) */
.buttonSecondary,
a.buttonSecondary {
  background: transparent;
  color: var(--clr-text);             
  border: 1px solid var(--clr-text);
}
.buttonSecondary:hover {
  border-color: var(--clr-primary);
  color: var(--clr-primary);
  background: var(--clr-bg-light);
  box-shadow: var(--shadow-button);
}
.buttonSecondary:active {
  background: var(--clr-bg-dark);
  color: var(--clr-primary-dark);
}
/* Tertiary */
.buttonTertiary {
  background: transparent;
  color: var(--clr-text-muted);           
  border: none;
  padding-inline: 1.5em;                   
}
.buttonTertiary:hover {
  color: var(--clr-text);
  background: var(--clr-bg-light);
  box-shadow: var(--shadow-button);
  text-decoration: underline;
  transform: translateY(-2px);
}
.buttonTertiary:active {
  background: transparent;
  transform: translateY(0px);
}
/* ButtonLink */
.buttonLink {
  background: transparent;
  color: var(--clr-text-muted);           
  border: none; 
  transition: var(--transition);
  padding: 0.1em;
}
.buttonLink:hover {
  color: var(--clr-text);
  background: var(--clr-bg-light);
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/* skeletons */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
