.bigContainer {
    /* border: 1px solid red; */
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.promotionContainer {
    /* border: 1px solid blue; */
    text-align: center;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-accent-dark);
    color: var(--clr-bg);
}
.promotionContainer h5 {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    letter-spacing: 1px;
}
.promotionContainer h6 {
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: var(--clr-accent-light);
}
.promotionContainer h6 span {
    text-decoration: underline;
    font-size: larger;
    padding: 0 0.3em;
    color: var(--clr-bg);
    letter-spacing: 1px;
}


.policiesContainer {
    flex: 4;
    display: flex;
}
.leftContainer {
    flex: 1;
    border-right: 1px solid rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    
}
.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.rightContainer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.creditContainer {
    flex: 3;
}


.footer {
    width: 100%;
    height: auto;
    background: #2C2A2D;
    color: white;
    font-size: 0.7rem;
    flex: 1;
    display: flex;
}

.footer a {
    color: white;
}

