.footer {
    width: 100%;
    height: 10vh;
    background: var(--clr-text);
    color: white;
    /* font-size: 0.7rem; */
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
}

.footer a {
    color: white;
    font-size: clamp(0.9rem, 2vw, 1rem);
    padding: 0;
    margin: 0;
    position: relative;
}
.footer a:not(.madeByPedro) {
    width: 25px;
    height: 25px;
}

.footerWrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}
.madeByPedro {
    width: fit-content;
}
.socials {
    /* border: 1px solid yellow; */
    gap: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

