.heroPage {
    height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    position: relative;
    z-index: -10;

    /* new */
    display: flex;
    align-items: center;
    overflow-y: auto;
}
.heroContainer {
    /* border: 1px solid rgb(10, 211, 37); */
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroWrapper {
    /* border: 1px solid rgb(10, 187, 34); */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    height: 170px;
    max-height: 200px;
}
.topTitleContainer {
    /* border: 1px solid red; */
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
.mainTitleContainer {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}
.bottomTitleContainer {
    /* border: 1px solid red; */
    width: 100%;
    position: absolute;
    bottom: 0;
}

.topTitleContainer svg {
    transform: rotate(45deg);
}
.bottomTitleContainer p {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.title {
    /* border: 1px solid rgb(141, 12, 153); */
    font-size: 3.5rem;
    color: black;
    width: 200px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    
}
.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at center, #ff9d00 0%, #ff6a00 100%);
    border-radius: 50%;
    z-index: 0;
    border: 5px solid black;
}

.topCity {
    /* border: 1px solid rgb(184, 27, 27); */
    height: 100vh;
    width: 135%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.bottomCity {
    /* border: 1px solid rgb(211, 29, 29); */
    height: 100vh;
    width: 135%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
.arrowLeft {
    /* border: 1px solid red; */
    position: absolute;
    left: 5%; 
}
.arrowRight {
    /* border: 1px solid blue; */
    position: absolute;
    right: 5%;
    animation-name: heartbeat;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}