.heroContainer {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
    z-index: -5;
    filter: brightness(1);
}

.titleContainer {
    background-color: #c6a06821;
    backdrop-filter: blur(6px); /* this creates the blur effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh; 
    /* border-top: 1px inset #C6A168;
    border-bottom: 1px outset #C6A168; */
}

.titleContainer h1 {
    font-family: var(--font-titillium), sans-serif;
    font-size: clamp(2.2rem, 7vw, 10rem);
    font-weight: 900;
    color: #C6A168;
    -webkit-text-stroke: 2.5px #333333;
    
}