.heroPage {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.heroContainer {
    border: 1px solid rgb(10, 211, 37);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroWrapper {
    /* border: 1px solid orange; */
}
.topTitleContainer {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
}
.mainTitleContainer {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomTitleContainer {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
}


.topTitleContainer p {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.title {
    /* border: 1px solid rgb(0, 255, 234); */
    font-size: 3.5rem;
    color: black;
    width: 200px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}
.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at center, #ff9d00 0%, #ff6a00 100%);
    border-radius: 50%;
    z-index: 0;
    /* border: 5px solid #00000000; */
}

.topCity {
    /* border: 1px solid rgb(184, 27, 27); */
    height: 100vh;
    width: 135%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("/images/city.webp") no-repeat bottom center;
    background-size: cover;
}

.bottomCity {
    /* border: 1px solid rgb(211, 29, 29); */
    height: 100vh;
    width: 135%;
    position: fixed;
    bottom: 0;
    right: 0;
    background: url("/images/city.webp") no-repeat bottom center;
    background-size: cover;
}