.mainSection {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: justify;
}
.mainSection h1 {
    margin: 5vh 0 10vh 0;
}
.description,
.disclaimer {
    font-size: clamp(0.95rem, 3vw, 1.1rem);
    letter-spacing: var(--ls);
    max-width: 60ch;
}
.disclaimer {
    font-weight: 600;
    margin: 2em 0 10vh;
}
.smile {
    text-align: right;
}