.mainSection {
    width: 85%;
    height: 70vh;
    margin: 0 auto;
    text-align: justify;
    position: relative;
}

.mainSection h1 {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    text-align: center;
    margin: 1em 0 2em 0;
}

.description,
.disclaimer {
    font-size: clamp(1rem, 2vw, 1.4rem);
}
.description {
    margin-bottom: 0.7em;
}

.disclaimer {
    font-weight: 600;
}

.mainSection a {
    width: fit-content;
    padding: var(--pd-top-down) var(--pd-left-right);
    border-radius: var(--radius);
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 1em;
}