
.navbar {
    padding: 0.7em 0; 
    background-color: #2C2A2D;
    position: sticky;
    top: 0;
    color: #f5f5e9;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    overflow-x: hidden;
    will-change: transform, opacity;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid; */
}

.visible {
  transform: translateY(0);
}


.hidden {
  transform: translateY(-100%);
}

.navbar a {
    color: #F5F5E9;
}

.cartAndCurrency {
    display: flex;
    gap: 1em;
    align-items: center;
}