.groupOfSkeletons {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.productCard {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.productCard img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.productCard h3 {
    color: black;
}