.reviewSection {
    overflow: hidden;
    width: 100%;
    background-image: url("/images/city-sun.upscaled.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.reviewSection h2 {
    text-align: center;
    margin-bottom: 10vh;
    padding-top: 0.5em;
    color: var(--clr-bg);
}

.sliderContainer {
  position: relative;
  margin-bottom: 7vh;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  position: absolute;
  width: 80%;
  height: 80%;
  max-height: 350px;
  max-width: 500px;
  background: var(--clr-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (width >= 850px) {
  .cardContainer {
    width: 65%;
  }
}

.navButton {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  background: var(--clr-bg);
  box-shadow: var(--shadow);
  border: none;
  cursor: pointer;
  color: var(--clr-txt);
  z-index: 2;
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: var(--transition);
}
.navButton:hover {
  background: rgba(0, 0, 0, 0.15);
  transform: translateY(-50%) scale(1.1);
  opacity: 0.9;
  color: var(--clr-bg);
}
.navButton:first-of-type {
  left: 5%;
}
.navButton:last-of-type {
  right: 5%;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;
}
.userIcon {
  margin-right: 0.3em;
}
.authorAndStars {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0.2em;
}
.authorAndStars h5 {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}
.reviewText {
  font-size: clamp(0.95rem, 3vw, 1.1rem);
  text-align: justify;
  letter-spacing: var(--ls);
}
.reviewDate {
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-align: right;
}