.bigContainer {
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
}

.promotionContainer {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0E0C0D; /*don't change*/
    color: var(--clr-secondary);
    padding-top: var(--space-lg);
}
.promotionContainer h4 {
    width: 90%;
    font-size: var(--fs-xl);
    letter-spacing: var(--ls);
}
.promotionContainer span {
    font-weight: 900;
    
}
.promotionContainer p {
    width: 90%;
    font-size: var(--fs-md);
    color: var(--clr-bg-light);
    font-weight: 100;
    padding-bottom: var(--space-lg);
}
.promotionContainer p span {
    text-decoration: underline;
    font-size: var(--fs-lg);
    padding: 0 var(--space-xs);
    color: var(--clr-bg);
    letter-spacing: var(--ls-big);
}
/* ------------------------------MIDDLE SECTION--------------------------------------- */
.policiesContainer {
    flex: 1.5;
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.leftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.5rem 1rem 5%;
}
.leftContainer p {
    font-size: var(--fs-md);
    flex: 1;
}
.leftContainer a {
    font-size: var(--fs-sm);
    flex: 1;
    width: fit-content;
}
.legalLinks {
    display: flex;
    flex-direction: column;
    flex: 2;
    line-height: var(--lh-list);
}
.apiLink {
    line-height: var(--lh-list);
}

.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 5% 1rem 0.5rem;
}
.rightContainer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-md);
    margin-bottom: var(--space-lg);
}
.creditContainer {
    flex: 0.3;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--space-xxs);
}
/* ---------------------------BOTTOM SECTION------------------------------------------ */
.footer {
    width: 100%;
    background: var(--clr-text);
    height: 10vh;
}
.footer a {
    color: var(--clr-bg);
    font-size: var(--fs-sm);
    position: relative;
}
.footer a:not(.madeByPedro) {
    width: 25px;
    height: 25px;
}
.footerWrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.madeByPedro {
    width: fit-content;
}
.socials {
    width: 85px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
