.bigContainer {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.promotionContainer {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0E0C0D; /*don't change*/
    color: var(--clr-secondary);
}
.promotionContainer h5 {
    width: 90%;
    font-size: clamp(1.7rem, 5vw, 2.7rem);
    letter-spacing: 5px;
}
.promotionContainer span {
    font-weight: 900;
}
.promotionContainer h6 {
    width: 90%;
    font-size: clamp(0.8rem, 3vw, 1.3rem);
    color: var(--clr-bg-light);
    font-weight: 100;
}
.promotionContainer h6 span {
    text-decoration: underline;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 0 0.3em;
    color: var(--clr-bg);
    letter-spacing: 1.3px;
}
/* ------------------------------MIDDLE SECTION--------------------------------------- */
.policiesContainer {
    flex: 1.5;
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.leftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0.5em 0.5em 5%;
}
.leftContainer p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    flex: 1;
}
.leftContainer a {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    flex: 1;
    width: fit-content;
}
.legalLinks {
    display: flex;
    flex-direction: column;
    flex: 2;
    line-height: 1.8;
}

.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em 5% 0.5em 0.5em;
}
.rightContainer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.3rem, 3vw, 1.5rem);
}
.creditContainer {
    flex: 1;
}
.creditContainer p {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    color: var(--clr-text);
    width: 100%;
    text-align: center;
    padding: 1em 0 0.2em 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ---------------------------BOTTOM SECTION------------------------------------------ */
.footer {
    width: 100%;
    background: var(--clr-text);
    height: 10vh;
}
.footer a {
    color: var(--clr-bg);
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    position: relative;
}
.footer a:not(.madeByPedro) {
    width: 25px;
    height: 25px;
}
.footerWrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.madeByPedro {
    width: fit-content;
}
.socials {
    width: 85px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
