.footer {
    width: 100%;
    height: 10vh;
    background: var(--clr-text);
    bottom: 0;
}

.footer a {
    color: var(--clr-bg);
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    position: relative;
}
.footer a:not(.madeByPedro) {
    width: 25px;
    height: 25px;
}

.footerWrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.madeByPedro {
    width: fit-content;
}
.socials {
    width: 85px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

