.checkoutSection {
    width: 90%;
    margin: 0 auto;
    transition: var(--transition);
}
.checkoutSection h1 {
    margin: 5vh 0 10vh;
}

.summarySection {
    margin-bottom: 10vh;
}
.summaryTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    margin: 0 auto 10vh auto;
}

.summaryTable th,
.summaryTable td {
    text-align: left;
    padding: 0.7em 1.5em;
    border-bottom: 1px solid #e0e0e0;
    
}
.summaryTable td {
    letter-spacing: var(--ls-big);
}
.summaryTable thead th {
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    font-weight: 600;
    font-size: 1rem;
}
.summaryTable tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
.summaryTable .cellPrice {
    text-align: right;
    letter-spacing: var(--ls);
}
.summaryTable tfoot {
  background-color: #f2f4f8;
  font-size: 1rem;
}
.summaryTable tfoot th {
    text-align: left;
}
.summaryTable tfoot td {
    font-weight: 600;
    text-align: right;
    letter-spacing: var(--ls);
}

.toggleCode {
    margin: 0.5em 0 7vh 0;
    cursor: pointer;
    width: fit-content;
}
.promoCodeContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7vh;
}
.promoCodeContainer input {
    min-height: fit-content;
    min-width: 25%;
    font-size: 1rem;
    padding-left: 1.5em;
    flex: 2;
    border: none;
    border-bottom: 1px solid var(--border);
}
.promoCodeContainer button {
    border-radius: var(--radius-small);
    flex: 1;
    margin-left: 1.5em;
}
@media (width >= 1080px) {
    .promoCodeContainer {
        justify-content: start;
    }
    .promoCodeContainer input {
        flex: 0.35;
    }
    .promoCodeContainer button {
        flex: 0.25;
    }
}

.subtotalPrice {
    letter-spacing: var(--ls);
    font-size: 0.95rem;
}
.totalPrice {
    font-weight: 600;
    letter-spacing: var(--ls);
    font-size: 1.15rem;
}

.paymentSection {
    margin-bottom: 10vh;
    line-height: 1.7;
}
.paymentSection h2 {
    text-align: center;
    margin-bottom: 7vh;
}

.paymentMethodsContainer {
    border: 1px solid var(--clr-bg-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
    border-radius: var(--radius);
    box-shadow: var(--shadow-light);
    margin: 0 auto;
    background: var(--clr-bg-dark);
}
.paymentMethodsContainer label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.95rem, 3vw, 1.2rem);
    border: 1px solid transparent;
    width: 100%;
    padding: var(--pd-td) var(--pd-lr);
    border-radius: 40px;
    box-shadow: var(--shadow-light);
    background: var(--clr-bg-light);
    transition: var(--transition);
}
.paymentMethodsContainer label:hover {
    box-shadow: var(--shadow-combined);
    border: 1px solid var(--clr-hoverInLight);
    background: var(--clr-bg);
    cursor: pointer;
}
.paymentMethodsContainer label:active, 
.paymentMethodsContainer label:has(input[type="radio"]:checked) {
    box-shadow: var(--shadow-combined);
    background: var(--clr-bg);
}
.paymentInput {
    margin-right: 0.5em;
    accent-color: var(--clr-text);
}
.paymentInput:focus-visible {
  outline: 2px solid var(--clr-primary);
  outline-offset: 2px;
}
.paymentIcons {
    display: inline-flex;
    min-height: fit-content;
    margin-left: 1em;
    gap: 0.5em;
}

.placeOrderButton {
    width: 55%;
    display: block;
    margin: 0 auto 15vh auto;
}
@media(width >= 850px) {
    .paymentMethodsContainer {
        width: 55%;
    }
    .placeOrderButton {
        width: 40%;
    }
}

.placeContainer {
    border: 2px ridge var(--clr-primary);
    border-radius: var(--radius-big);
    height: 60vh;
    width: 75vw;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-bg);
    box-shadow: var(--shadow-combined);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.placePaymentIcons {
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.placeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeInfo h3 {
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    padding: 0.7em;
    text-align: center;
    font-weight: 200;
    margin-top: 1em;
}
.placeInfo svg {
    margin-top: 0.5em;
}