
.productsContainer {
    text-align: center;
    margin-bottom: 20vh;
    /* border: 1px solid; */
}
.productsContainer h2 + p {
    margin-bottom: 7vh;
    line-height: 1.7;
}
.productsContainer p {
    font-weight: 100;
    letter-spacing: 0.05em;
}

.productsSelector {
    /* border: 1px solid rgb(33, 35, 139); */
    margin-bottom: 7vh;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    gap: 0.3em;
    overflow: hidden;
    transition: all 0.4s ease;
}

.imageBox {
  position: relative; 
  flex: 1;            
  height: 100%;
  overflow: hidden;  
  border-radius: 10px;
  /* box-shadow: var(--shadow); */
  transition: all 0.6s ease;
  cursor: pointer;
}
.imageBox:hover {
    flex: 3;
}
.productsSelector:hover .imageBox:not(:hover) {
    flex: 0.8;
    filter: brightness(0.6) saturate(0.6);
    transform: scale(0.98);
}

.overlay {
    font-family: var(--font-gatwick-jet);
    font-weight: 600;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.199);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.imageBox:hover .overlay {
  opacity: 1;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

