
.productsContainer {
    text-align: center;
    margin-bottom: 10vh;
}
.productsContainer h2 + p{
    margin-bottom: 5vh;
}

.productsSelector {
    /* border: 1px solid rgb(33, 35, 139); */
    margin-bottom: 10vh;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    gap: 0.3em;
    overflow: hidden;
    transition: all 0.4s ease;
}

.imageBox {
  position: relative; 
  flex: 1;            
  height: 100%;
  overflow: hidden;  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s ease;
  cursor: pointer;
}
.imageBox:hover {
    flex: 3;
}
.productsSelector:hover .imageBox:not(:hover) {
    flex: 0.8;
    filter: brightness(0.6) saturate(0.6);
    transform: scale(0.98);
}

.overlay {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.imageBox:hover .overlay {
  opacity: 1;
}

.showAll {
    margin-bottom: 10vh;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}