.productsContainer {
    /* border: 3px solid red; */
}

.productsContainer h2 {
    text-align: center;
    margin-bottom: 5vh;
}

.productsSelector {
    border: 1px solid rgb(33, 35, 139);
    margin-bottom: 50vh;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;

}

.imageBox {
  position: relative; 
  flex: 1;            
  height: 100%;
  overflow: hidden;  
  transition: transform 0.3s ease;
}
.imageBox:hover {
    transform: scale(1.03);
    cursor: pointer;
    filter: saturate(10px);
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}