.relatedProductsSection {
    width: 100%;
    margin-bottom: 10vh;

}

.relatedProductsSection h3 {
    width: 90%;
    margin: 0 auto;
}

.sliderContainer {
  display: flex;
  overflow-x: auto;
  gap: 2em;
  padding: 1.5em 5%;
  border-top: 1px solid var(--border-muted);
  border-bottom: 1px solid var(--border-muted);
  scrollbar-width: thin; 
  scrollbar-color: var(--clr-text) var(--clr-bg); 
  background: var(--clr-bg-dark);
}
.sliderContainer::-webkit-scrollbar {
  height: 8px; 
}
.sliderContainer::-webkit-scrollbar-track {
  background: var(--clr-bg-light);
  border-radius: 10px;
}
.sliderContainer::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 10px;
}
.sliderContainer::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-dark);
  cursor: pointer;
}

.productCard {
    min-width: fit-content;
    border: 1px solid var(--border);
    border-radius: var(--radius-small);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-light);
    background: var(--clr-bg);
    min-width: 215px;
    width: 220px;
    transition: var(--transition);
}
.productCard:hover {
    box-shadow: var(--shadow-combined);
    background: var(--clr-bg);
}
.productCard img {
    padding: 0.5em;
    width: 150px;
    height: 220px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    
}
.productTitle {
    border-top: 1px solid var(--clr-bg-dark);
    color: var(--clr-text);
    font-weight: 600;
}
.productCard p {
    padding: 0.2em 0.4em;
    background: var(--clr-bg-light);
}